# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\广发金工\课题6 创业板指数回撤研究\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
